{% extends "base.html" %}
{% load bootstrap %}

{% block main %}

    {% if form.errors %}
    <p>Seu nome de usuário e senha não correspondem. Por favor, tente novamente.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Sua conta não tem acesso a esta página. Para prosseguir,
            faça login com uma conta que tenha acesso.</p>
        {% else %}
        <p>Faça o login para ver esta página.</p>
        {% endif %}
    {% endif %}


    <div class="container-fluid centered col-md-3">
        <form action="{% url 'login' %}" method="post">{% csrf_token %}>

            <br>
            <br>
            <br>
            <br>
            <h5 class="text-primary text-center">Faça login para continuar</h5>
            <div class="form-group">
                <input type="text" name="username" autofocus autocomplete="username"
                       maxlength="150" required id="id_username" class="form-control" placeholder="Usuário">
            </div>
            <br>

            <div class="form-group">
            <input type="password" name="password" autocomplete="current-password"
                   required id="id_password" class="form-control" placeholder="Senha">
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>


    {# Assumes you setup the password_reset view in your URLconf #}
    <!-- Ainda não foi implantado sistema de recuperação de senha -->
    <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}