<title>Lista de diaristas</title>

{%  extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <p></p>
             <h3 class="p-1 mb-2 bg-secondary text-white">Lista diaristas</h3>
                <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuário</th>
                  <th scope="col">Início</th>
                  <th scope="col">Término</th>
                </tr>
              </thead>
              <tbody>
                {% for diarista in diaristas %}
                    <tr>
                      <th scope="row">{{ diarista.id }}</th>
                      <td ><a href="{% url 'core_diarista_update' diarista.id %}"
                             class="link-primary"> {{ diarista.usuario }} </a></td>
                      <td>{{ diarista.inicio }}</td>
                      <td>{{ diarista.termino }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-sm-4 offset-md-1">
            <p></p>
            <h4 class="text-primary"> Cadastrar</h4>
            <p></p>
            <form action="{% url 'core_diarista_novo' %}" method="POST">
                {% csrf_token %}
                {{ forms|bootstrap }}
                <p></p>
                <button type="submit" class="btn btn-primary">
                    Cadastrar</button>
            </form>
        </div>
    </div>

{% endblock %}