<title>Lista de usuários</title>

{%  extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <p></p>
             <h3 class="p-1 mb-2 bg-secondary text-white">Lista usuários</h3>
                <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Profissão</th>
                  <th scope="col">Área Atuação</th>
                </tr>
              </thead>
              <tbody>
                {% for pessoa in usuario %}
                    <tr>
                      <th scope="row">{{ pessoa.id }}</th>
                      <td ><a href="{% url 'core_pessoa_update' pessoa.id %}"
                             class="link-primary"> {{ pessoa.nome }} </a></td>
                      <td>{{ pessoa.telefone }}</td>
                      <td>{{ pessoa.email }}</td>
                      <td>{{ pessoa.profissao }}</td>
                      <td>{{ pessoa.area_atuacao }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-sm-4 offset-md-1">
            <p></p>
            <h4 class="text-primary"> Cadastrar</h4>
            <p></p>
            <form action="{% url 'core_pessoa_novo' %}" method="POST">
                {% csrf_token %}
                {{ forms|bootstrap }}
                <p></p>
                <button type="submit" class="btn btn-primary">
                    Cadastrar</button>
            </form>
        </div>
    </div>

{% endblock %}
