<title>Lista de Serviços</title>

{%  extends 'base.html' %}
{% load bootstrap %}

{% block main %}

 <div class="row">
                <div class="col-12">
                    <p></p>
                     <h3 class="p-1 mb-2 bg-secondary text-white">Lista serviços</h3>
                        <p></p>
                </div>
        </div>

     <div class="row">
        <div class="col-sm-4 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Serviços</th>
                </tr>
              </thead>
              <tbody>
                {% for finalidade in finalidades %}
                    <tr>
                      <th scope="row">{{ finalidade.id }}</th>
                      <td ><a href="{% url 'core_finalidade_update' finalidade.id %}"
                             class="link-primary"> {{ finalidade.nome }} </a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-sm-4 offset-md-1">
            <p></p>
            <h4 class="text-primary"> Cadastrar</h4>
            <p></p>
            <form action="{% url 'core_finalidade_novo' %}" method="POST">
                {% csrf_token %}
                {{ forms|bootstrap }}
                <p></p>
                <button type="submit" class="btn btn-primary">
                    Cadastrar</button>
            </form>
        </div>
     </div>

{% endblock %}
