<title>Lista de Atividades dos Diaristas</title>

{%  extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="row">
            <div class="col-12">
                <p></p>
                 <h3 class="p-1 mb-2 bg-secondary text-white">Lista atividades diaristas</h3>
                <p></p>
            </div>
    </div>

     <div class="row">
        <div class="col-sm-6 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Diarista</th>
                  <th scope="col">Serviço</th>
                  <th scope="col">Dias</th>
                  <th scope="col">Valor Diária</th>
                  <th scope="col">Valor Total</th>
                  <th scope="col">Pago</th>
                </tr>
              </thead>
              <tbody>
                {% for atividade_dia in atividades_dia %}
                    <tr>
                      <th scope="row">{{ atividade_dia.id }}</th>
                      <td ><a href="{% url 'core_atividade_dia_update' atividade_dia.id %}"
                             class="link-primary"> {{atividade_dia.diarista}} </a>
                      </td>
                      <td>{{ atividade_dia.finalidade }}</td>
                      <td>{{ atividade_dia.dias_total }}</td>
                      <td>R$ {{ atividade_dia.valor_dia }}</td>
                      <td>R$ {{ atividade_dia.valor_total }}</td>
                      <td>{{ atividade_dia.pago }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-sm-4 offset-md-1">
            <p></p>
            <h4 class="text-primary"> Cadastrar</h4>
            <p></p>
            <form action="{% url 'core_atividade_dia_novo' %}" method="POST">
                {% csrf_token %}
                {{ forms|bootstrap }}
                <p></p>
                <button type="submit" class="btn btn-primary">
                    Cadastrar</button>
            </form>
        </div>
     </div>

{% endblock %}