<title>Lista de diaristas</title>

{%  extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'core_home' %}">Início</a>
      </li>
      </li>

    {% if user.is_authenticated %}
         <li class="nav-item">

             <li>
                <a class="nav-link disabled" href="">Olá {{ user }}!</a>
            </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                   role="button" aria-expanded="false" id="gestao-sistema">Gestão</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Usuários</a></li>
              <li><a class="dropdown-item" href="{% url 'core_lista_finalidades' %}">Serviços</a></li>
              <li><a class="dropdown-item" href="{% url 'core_lista_diaristas' %}">Diaristas</a></li>
              <li><a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
              <li><a class="dropdown-item" href="{% url 'core_lista_anualistas' %}">Anualistas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'core_lista_vitalistas' %}">Lic. Vitalícia</a></li>
            </ul>
        </li>

        <li>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
    </ul>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <p></p>
             <h3 class="p-1 mb-2 bg-secondary text-white">Lista diaristas</h3>
                <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuário</th>
                  <th scope="col">Início</th>
                  <th scope="col">Término</th>
                </tr>
              </thead>
              <tbody>
                {% for diarista in diaristas %}
                    <tr>
                      <th scope="row">{{ diarista.id }}</th>
                      <td ><a href="{% url 'core_diarista_update' diarista.id %}"
                             class="link-primary"> {{ diarista.usuario }} </a></td>
                      <td>{{ diarista.inicio }}</td>
                      <td>{{ diarista.termino }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-sm-4 offset-md-1">
            <p></p>
            <h4 class="text-primary"> Cadastrar</h4>
            <p></p>
            <form action="{% url 'core_diarista_novo' %}" method="POST">
                {% csrf_token %}
                {{ forms|bootstrap }}
                <p></p>
                <button type="submit" class="btn btn-primary">
                    Cadastrar</button>
            </form>
        </div>
    </div>

{% endblock %}